.foot{
    background-color: brown;
    border: 4px solid black;
    text-align: center;
    padding: 5px;
    color:white;
    font-family: 'Island Moments', cursive;
}
.Icons{
   
    display: flex;
    padding: 10px;
    color: white;
   
   
}

.Icons1{
    margin-left: 35%;
    
}


.Icons1{
    margin-right: 10%;
    
}

p:hover{
    margin: 2px;
    text-decoration: underline;
}